# Node dependencies
frontend/node_modules/

# Expo-related files
frontend/.expo/
frontend/dist/
frontend/web-build/

# Environment files
frontend/.env*
frontend/.env*.local

# TypeScript
frontend/*.tsbuildinfo
frontend/types/*.d.ts

# Debugging
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Metro bundler
frontend/.metro-health-check*

# Native files
frontend/*.orig.*
frontend/*.jks
frontend/*.p8
frontend/*.p12
frontend/*.key
frontend/*.mobileprovision

# macOS system files
.DS_Store
*.pem

# Example files
frontend/app-example

Backend/config.yaml
node_modules
Backend/main.exe~
Backend/main.exe

# Android build outputs
/android/app/build/

# Gradle files
.gradle/

# Node modules
/node_modules/

# JS build outputs
/dist/
/build/

# Expo files
.expo/
.expo-shared/
